ion-tab-bar {
  --background: #ffffff;
  border-top: 0.0625rem solid #e2e2e2 !important;
}
ion-tab-button {
  --color: #222222;
  --color-selected: #0058df;
  --ripple-color: #0058df;
}

ion-content {
  // --background: #f7f8fa;
  //--background: #f5f5f5;
  // --offset-bottom: auto !important;
  // --overflow: hidden;
  // overflow: auto;
  // &::-webkit-scrollbar {
  //   display: none;
  //   width: 5px;
  // }
  scrollbar-width: none;
}

.featured-badge {
  position: absolute;
  top: 0;
  left: 0em;
  &:before {
    content: "Featured";
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 10px;
    height: 0px;
    border: 12px solid #ff2c55;
    border-right-color: transparent;
    line-height: 0px;
    box-shadow: -0px 5px 5px -5px #000;
    color: #fff;
    font-size: 12px;
    z-index: 1;
  }
  &:after {
    content: "";
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 22px;
    position: absolute;
    z-index: 1;
    -webkit-animation: slide 2.2s infinite;
    animation: slide 2.2s infinite;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#007db9e8',GradientType=1);
  }
}

ion-select.menu {
  color: #b61120 !important;
  padding-left: 0;
}

ion-select.menu::part(icon) {
  opacity: 0;
}
ion-select.menu::part(text)::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-left: 1px solid #b61120;
  border-top: 1px solid #b61120;
  transform: rotate(-135deg);
  right: 40px;
  top: 15px
}
ion-badge {
  position: absolute;
  right: -5px;
  top: -8px;
  border-radius: 10px;
}

